body
{
  position: relative;
  
  padding: 100px;
  
  color: gray;
  font-family: Consolas;
  font-size: 28px;
  "line-height: 28px;
  text-align: center;
  background-color: black;
}
div, span
{
  position: relative;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  
  padding: 0px;
  margin: -1px;
  border: 1px solid transparent;
}
div:hover
{
  
}
span
{
  text-decoration: inherit;
}

.cExpression
{
  border: 1px solid black;
  padding: 40px;
  padding-top: 20px;
  "display: block;
  background-color: rgb(0,0,50);
}

.cAbstraction
{
  display: block; "make fit to max
}
.cAbstractionHover
{
  background-color: rgb(30, 0, 0);
  border: 1px dotted rgb(255, 0, 0);
}
.cAbstractionVariable
{
  display: block;
  "text-decoration: underline;
}
.cAbstractionBody
{
  display: block;
  margin-left: 8px;
  border-left: 1px dotted rgb(255,0,0);
  padding-left: 50px;
}

.cApplication
{
  display: block; "make fit to max
}
.cApplicationHover
{
  background-color: rgb(0, 30, 0);
  border: 1px dotted rgb(0, 255, 0);
}
.cApplicationMethod
{
  display: block;
}
.cApplicationArgument
{
  display: block;
  margin-left: 8px;
  border-left: 1px dotted rgb(0,255,0);
  padding-left: 50px;
}

.cLiteral
{
  color: rgb(200,200,200);
  font-weight: bold;
  margin: 1px;
}
.cLiteralHover
{
  color: white;
  background-color: rgb(0,0,200);
  font-weight: bold;
  "font-style: italic;
}

hr
{
  border: 0;
  margin-left: -30px;
  margin-right: -30px;
  color: black;
  background-color: rgb(200,200,200);
  height: 2px;
}